.wrapper {
    color: azure;
    font-size: 1.4rem;
    width: 70%;
    transition-delay: 500ms;
}

@media (max-width:1000px)  { 
    .wrapper {
        font-size: 1rem;
        transition-delay: 500ms;
    }
}

@media (max-width:750px)  { 
    .wrapper {
        font-size: 0.9rem;
        transition-delay: 500ms;
    }
}

@media (max-width:620px)  { 
    .wrapper {
        font-size: 0.6rem;
        transition-delay: 500ms;
    }
}