.wrapper input, .wrapper select  {
    background-color: #35373B;
    color: #dededf;
    outline: none;
    border-color: #585960;
    border-width: 1.5px;
    border-radius: 0.3rem;
    height: 3rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.wrapper select {
    padding: 0.5rem 1rem;
}


.wrapper input::placeholder{
    color :#dededf;
    opacity: 1;
}

.errorMessage {
     margin-bottom: 0.5rem;
     padding-left: 0.5rem;
     color: #ff595e;
     font-weight: 200;
}

.button {
    padding:1rem 5rem;
    background-color: #FFE3AF;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: all;
    animation-duration: 2000ms;
    translate: 1px 2px;
    transition-duration: 500ms;
}

.button:disabled {
 background-color: #35373B;
}

.button:hover:enabled{
    background-color: #facd79;
    translate: -1px -2px;
    
}

.alert{
    margin-top: 5rem;
    border-radius: 0.2rem;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dededf;
}

.alertSuccess{
    border:#76c893 1px solid
}

.alertUpdated{
    border: #facd79 1px solid;
}