.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.rightPane {
    /* background-color: red; */
    width: 75%;
    height: 100%;
}

.leftPane {
    background-color: chocolate;
    width: 25%;
    height: 100%;
    transition-duration: 500ms;
    overflow: hidden;
}

@media (max-width:1600px)  { 
  .leftPane {
      width: 0%;
      transition-duration: 500ms;
  }

  .rightPane {
      width: 100%;
      transition-duration: 500ms;

  }
}