.wrapper {
    background-color: #252728;
    height: 100%;
    padding: 2rem 6rem;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width:600px)  { 
   .wrapper{
    padding: 2rem;
   }
  }


