.wrapper {
    /* background-color: aquamarine; */
    /* padding: 1rem; */
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navItem {
    background-color: #252728;
    padding: 0.5rem 1rem;
    color: #E4DCC6;
    text-decoration: none;
}

.navActive {
    background-color: #35373B;
    color: #dededf;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem
}

